#edit-profile-modal.modal-hide {
    display: none;
}

#edit-profile-modal.modal-show {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    top: 30px; 
    left: 300px;   
    width: 650px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    z-index: 3;
}

.edit-user-form .label {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eceeee;
    border-bottom: 1px solid rgb(207, 207, 207);
    align-items: center;
    box-sizing: border-box;
}

#edit-profile-modal .label:hover {
    cursor: default;
}

#edit-profile-modal textarea {
    resize: none;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 12px;
    border: none;
}

.edit-profile-photos-container{
    display: flex;
    justify-content: center;
    position: relative;
    height: 300px;
}

#edit-profile-modal .profile.photo-container {
    top: 140px;
}