.posts {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(88, 88, 88);
    font-weight: 600;
    font-size: 12px;
}

.post-list {
    width: 500px;
}

.profile-right .post-list {
    width: 520px;
}

.post-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 10px;
    overflow-wrap: anywhere;
    hyphens: auto;
    overflow: hidden;
    width: 100%;
}

.post-dropdown-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: grey;
}

.toggle-post-dropdown {
    opacity:  0.8;
    color: grey;
    font-size: 30px;
    line-height: 0px;
}

.toggle-post-dropdown:hover {
    cursor: pointer;
    opacity: 1;
}

.post-dropdown.modal-hide {
    display: none;
}

.post-dropdown.modal-show {
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 12px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(199, 199, 199);
}

.post-dropdown-item {
    padding: 10px;
}

.post-dropdown-item:hover{
    color: white;
    background-color: #3578E5;
    cursor: pointer;
}

.post-show.photo-container {
    position: absolute;
    top: 0;
    left: 10px;
    top: 12px;
    width: 40px;
    height: 40px;
}

.post-container a {
    font-weight: 600;
    font-size: 14px;
    color: rgb(77, 98, 167);
    text-decoration: none;
}

.post-container a:hover {
    text-decoration: underline;
}

.post-container .right-arrow {
    color: grey;
    font-size: 10px;
}

.not-photo {
    margin: 10px;  
}

.post-header {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.post-header .timestamp {
    font-size: 12px;
    color: grey;
    margin-top: 5px;
}

.post-photo {
    border: 1px solid lightgrey;
    width: 100%;
    box-sizing: border-box;
}

.post-photo:hover {
    cursor: pointer;
    opacity: 0.5;
}

.post-footer {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    border-top: 1px solid lightgrey;
}

.post-footer-button {
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    color: rgb(93, 93, 93);
    margin: 3px;
    border-radius: 4px;
}

.post-footer-button:hover {
    background-color: rgb(230, 236, 236);
    cursor: pointer;
}

.post-footer .icon {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 400;
}

// .comment.icon {
//     transform: rotateX(180deg);
// }

.liked {
    color: blue;
}

.like-count {
    margin: 5px;
    margin-left: 10px;
}