// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**
 * Eric Meyer's CSS Reset + Nicolas Gallagher's Clearfix
 * https://github.com/reefat/css-reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}


///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////


////////////////   app

.app-container{
    // max-width: 1000px;
}

//////   logged-out-header

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased
}

.logged-out-header {
    border-bottom: 1px solid rgb(26, 57, 117);
    background-image: linear-gradient(rgb(65, 95, 156), rgb(35, 71, 145));
    color: white;
    display: flex;
    justify-content: space-between;
    min-width: 1220px;
}

.logo {
    font-weight: 625;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 180px;
    text-decoration: none;
    color: inherit;
}

.session-form {
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 12px;
    margin-bottom: 25px;
    margin-left: 180px;
    margin-right: 180px;
}

.login {
    width: fit-content;
    height: 25px;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    background-color: rgb(78, 116, 192);
    border: 1px solid rgb(46, 66, 119)
}

.login:hover {
    background-color: rgb(65, 95, 156);
    cursor: pointer;
}

.session-form input, .session-form .login {
    margin-top: 5px;
    margin-bottom: 3px;
}

.session-form input {
    height: 20px;
    width: 140px;
    border: 1px solid darkblue;
}




//////////////////////////////  logged-out-home


.logged-out-home-container {
    background-color: rgb(239, 242, 245);
    min-height: fit-content;
    min-width: fit-content;
}

.logged-out-home {
    color: rgb(51, 49, 49);
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
}

.logged-out-home .greeting {
    letter-spacing: .5px;
}

.logged-out-home .greeting .connect {
    margin-top: 60px;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logged-out-home .greeting .connect .title {
    font-weight: 600;   
    font-size: 27px; 
    margin-bottom: 30px;
}

.logged-out-home .greeting li {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}

b {
    font-weight: bold;
    display: inline;
    margin-right: 5px;
}

.logged-out-home .greeting li .sprite-container {
    height: 48px;
    width: 48px;
    overflow: hidden;
    margin-right: 20px;
}

.logged-out-home .greeting li .sprite-container .sprite {
    background: image_url("sprite.png");
    line-height: 200px;
}

.logged-out-home .greeting li .sprite-container .one {
    background-position: -9px -6px;
}
.logged-out-home .greeting li .sprite-container .two {
    background-position: -9px -85px;
}
.logged-out-home .greeting li .sprite-container .three {
    background-position: -9px -166px;
}

/////////////logged out home user form

.logged-out-home .user-form {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

//// form messages

.logged-out-home .user-form .message .signup {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: .5px;
}

.logged-out-home .user-form .message .line2 {
    display: flex;
    align-items: center;
}

.logged-out-home .user-form .message .line2 .easy {
    margin-right: 20px;
    font-weight: 300;
}


///// form inputs

.logged-out-home .user-form input {
    height: 25px;
    width: 400px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid rgb(173, 205, 214);
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}


.logged-out-home .user-form select {
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    margin-top: 10px;
    width: 400px;
    font-size: 12px;
}

///// name

.logged-out-home .user-form .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged-out-home .user-form .name input {
    width: 175px;
}

//// birthday

.logged-out-home .user-form .birthday-container {
    margin-top: 20px;
    line-height: unset;
}
.logged-out-home .user-form .birthday-container input{
    margin: unset;
    width: 385px;
}
////// gender

.logged-out-home .user-form .gender-input-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.logged-out-home .user-form .gender-input-container input{
    width: 15px;
    margin: 5px;
}

.logged-out-home .user-form .gender-input-container .title {
    margin-right: 10px;
    font-weight: 420;
}

.logged-out-home .user-form .custom-gender-false {
    display: none;
}


////// form input errors

.logged-out-home .user-form .input {
    display: flex;
    align-items: center;
}

.input {
    position: relative;
}

.errors {
    background-color: red;
    display: block;
    position: absolute;
    width: fit-content;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    top: 10px;
    right: 420px;
    z-index: 1;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.no-errors {
    display: none;
}


//// user form button

.button-container {
    position: relative;
}

.sign-up-button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    width: 200px;
    background: linear-gradient(#67ae55, #578843);
    border: 1px solid;
    border-top-color: rgb(59, 110, 34);
    border-right-color: rgb(59, 110, 34);
    border-bottom-color: rgb(44, 81, 21);
    border-left-color: rgb(59, 110, 34);
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #a4e388;
    position: absolute;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    line-height: 27px;
}
    

.sign-up-button:active{
    background-color: honeydew;
    top: 2px;
}

.sign-up-button:hover {
    cursor: pointer;
}

.line {
    width: 400px;
    border-bottom: 1px solid grey;
    margin-top: 80px;
    margin-bottom: 50px;
}
