// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////


////////////////   app



//////   logged-out-header

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased
}

.header{
    border-bottom: 1px solid rgb(26, 57, 117);
    background-image: linear-gradient(rgb(65, 95, 156), rgb(35, 71, 145));
    color: white;
    display: flex;
    justify-content: space-between;
    min-width: 1220px;
}

.logged-out-header .logo {
    font-weight: 625;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 180px;
    margin-right: 260px;
    text-decoration: none;
    color: inherit;
}

.session-form {
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 12px;
    margin-bottom: 25px;
    margin-left: 180px;
    margin-right: 180px;
}

.login {
    width: fit-content;
    height: 25px;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    background-color: rgb(78, 116, 192);
    border: 1px solid rgb(46, 66, 119)
}

.login:hover {
    background-color: rgb(65, 95, 156);
    cursor: pointer;
}

.session-form input, .session-form .login {
    margin-top: 5px;
    margin-bottom: 3px;
}

.session-form input {
    height: 20px;
    width: 140px;
    border: 1px solid darkblue;
}




//////////////////////////////  logged-out-home


.logged-out-home-container {
    background-color: rgb(239, 242, 245);
    min-height: fit-content;
    min-width: fit-content;
}

.logged-out-home {
    color: rgb(51, 49, 49);
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
}

.logged-out-home .greeting {
    letter-spacing: .5px;
}

.logged-out-home .greeting .connect {
    margin-top: 60px;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logged-out-home .greeting .connect .title {
    font-weight: 600;   
    font-size: 27px; 
    margin-bottom: 30px;
}

.logged-out-home .greeting li {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}

b {
    font-weight: bold;
    display: inline;
    margin-right: 5px;
}

.logged-out-home .greeting li .sprite-container {
    height: 48px;
    width: 48px;
    overflow: hidden;
    margin-right: 20px;
}

.logged-out-home .greeting li .sprite-container .sprite {
    background: image_url("logged_out_home_greeting_sprite.png");
    line-height: 200px;
}

.logged-out-home .greeting li .sprite-container .one {
    background-position: -9px -6px;
}
.logged-out-home .greeting li .sprite-container .two {
    background-position: -9px -85px;
}
.logged-out-home .greeting li .sprite-container .three {
    background-position: -9px -166px;
}

/////////////logged out home user form

.logged-out-home .user-form {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

//// form messages

.logged-out-home .user-form .message .signup {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: .5px;
}

.logged-out-home .user-form .message .line2 {
    display: flex;
    align-items: center;
}

.logged-out-home .user-form .message .line2 .easy {
    margin-right: 20px;
    font-weight: 300;
}


///// form inputs

.logged-out-home .user-form input {
    height: 25px;
    width: 400px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid rgb(173, 205, 214);
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}


.logged-out-home .user-form select {
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    margin-top: 10px;
    width: 400px;
    font-size: 12px;
}

///// name

.logged-out-home .user-form .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged-out-home .user-form .name input {
    width: 175px;
}

//// birthday

.logged-out-home .user-form .birthday-container {
    margin-top: 20px;
    line-height: unset;
}
.logged-out-home .user-form .birthday-container input{
    margin: unset;
    width: 385px;
}
////// gender

.logged-out-home .user-form .gender-input-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.logged-out-home .user-form .gender-input-container input{
    width: 15px;
    margin: 5px;
}

.logged-out-home .user-form .gender-input-container .title {
    margin-right: 10px;
    font-weight: 420;
}

.logged-out-home .user-form .custom-gender-false {
    display: none;
}


////// form input errors

.logged-out-home .user-form .input {
    display: flex;
    align-items: center;
}

.input {
    position: relative;
}


.errors {
	position: relative;
	// background: #88b7d5;
	// border: 4px solid #c2e1f5;
}
.errors:after, .errors:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.errors:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: rgb(189, 75, 75);
	border-width: 10px;
	margin-top: -10px;
}
.errors:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: rgb(160, 62, 62);
	border-width: 1px;
	margin-top: -16px;
}




.errors {
    background-color: rgb(189, 75, 75);
    border: 1px solid rgb(160, 62, 62);
    display: block;
    position: absolute;
    width: fit-content;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    right: 410px;
    z-index: 1;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
}

.session-form .errors {
    left: -142px;
    top: 5px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

}


.no-errors {
    display: none;
}


//// user form button

.button-container {
    position: relative;
}

.sign-up-button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    width: 200px;
    background: linear-gradient(#67ae55, #578843);
    border: 1px solid;
    border-top-color: rgb(59, 110, 34);
    border-right-color: rgb(59, 110, 34);
    border-bottom-color: rgb(44, 81, 21);
    border-left-color: rgb(59, 110, 34);
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #a4e388;
    position: absolute;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    line-height: 27px;
}
    

.sign-up-button:active{
    background-color: honeydew;
    top: 2px;
}

.sign-up-button:hover {
    cursor: pointer;
    background: linear-gradient(#7ec96b, #6ca157);
}

.line {
    width: 400px;
    border-bottom: 1px solid grey;
    margin-top: 80px;
    margin-bottom: 50px;
}





////////////////////////////////////////////////////////////////////////////
//    logged in header
////////////////////////////////////////////////////////////////////////////

.logged-in-header {
    height: 42px;
    border-bottom: 1px solid rgb(26, 57, 117);
    background-image: linear-gradient(rgb(65, 95, 156), rgb(52, 102, 160));
    color: white;
    display: flex;
    justify-content: center;
    min-width: 1220px;
}

.logged-in-header a {
    text-decoration: none;
    color: white
}

//////// nav

.logged-in-header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 195px;
    margin-left: 180px;
    min-width: 1000px;
}


//////////////////////////////////  left nav


.logged-in-header .left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged-in-header .nav .logo {
    height: 24px;
    width: 24px;
    overflow: hidden;
    background: image_url("fb_logo.png") white;
    background-size: 155%;
    background-position: -3px -5px;
    border-radius: 2px;
}

.logged-in-header .logo:hover {
    cursor: pointer;
}

.logged-in-header .nav .input-container {
    position: relative;
}

.logged-in-header .nav input {
    width: 448px;
    min-width: 50px;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: 1px solid rgb(31, 67, 139);
    margin-left: 6px;
    box-sizing: border-box;
}

.logged-in-header .nav .search-button {
    background-color: rgb(246, 245, 245);
    color: grey;
    font-size: 14px;
    position: absolute;
    display: inline;
    z-index: 1;
    left: 415px;
    top: 1px;
    height: 24px;
    width: 38px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-image: image_url("search_icon.png");
    background-size: 115%;
    background-position: center;
}

.logged-in-header .nav .search-button:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    background-image: image_url("hover_search.png");
}


////////////////////////////////////// middle-nav


.logged-in-header .middle-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: .1px;
    min-width: fit-content;
}

.logged-in-header .nav .middle-nav-right-border {
    border-right: 1px solid #385898;
    height: 20px;
}


////////////// links


.logged-in-header .link {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    box-sizing: border-box;
    max-height: 26px;
    border-radius: 2px;
}

.logged-in-header .link:hover {
    background-color: #385898;
    cursor: pointer;
}


.logged-in-header .link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logged-in-header .profile .profile-photo {
    margin-right: 5px;
    background-color: red;
    border-radius: 24px;
    height: 24px;
    width: 24px;
}

.logged-in-header .nav .find-friends {
    min-width: fit-content;
}



//////////////////////// notifications-container



.logged-in-header .notifications-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.notifications-container .friend-icon {
    margin-left: 10px;
    margin-right: 10px;
    background-position: -9px;
}

.notifications-container .message-icon {
    background-position: -46px;
}

.notifications-container .bell-icon {
    margin-left: 10px;
    margin-right: 10px;
    background-position: -82px;
}




///////////////////////////////////// sprites 



.logged-in-header .middle-nav .sprite {
    width: 25px;
    height: 25px;
    background-size: 470%;
    border-radius: 5px;
    background-repeat: no-repeat;
}

.logged-in-header .middle-nav .sprite {
    background-image: image_url("notification_sprite.png")
}

.logged-in-header .info-icon, .logged-in-header .arrow-icon {
    background-image: image_url("right_sprites.png");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 300%;
    border-radius: 5px;
}

.logged-in-header .info-icon {
    background-position: -9.5px;
}

.logged-in-header .arrow-icon {
    background-position: -45px;
}

// hover

.logged-in-header .middle-nav .friend-icon.unselected:hover {
    background-image: image_url("hover_friend.png");
}

.logged-in-header .middle-nav .message-icon.unselected:hover {
    background-image: image_url("hover_message.png");
}

.logged-in-header .middle-nav .bell-icon.unselected:hover {
    background-image: image_url("hover_bell.png");
}

.logged-in-header .info-icon:hover, .logged-in-header .arrow-icon:hover {
    background-image: image_url("hover_right.png");
}

// selected

.sprite.friend-icon.selected {
    background-image: image_url("selected_friend.png");
}

.sprite.message-icon.selected {
    background-image: image_url("selected_message.png");
}

.sprite.bell-icon.selected {
    background-image: image_url("selected_bell.png");
}


.logged-in-header .info-icon.selected {
    background-image: image_url("selected_info.png")
}

.logged-in-header .arrow-icon.selected {
    background-image: image_url("selected_arrow.png")
}

.sprite {
    position: relative;
}



.unselected > ul {
    display: none;
}

.selected > ul {
    display: flex;
    position: absolute;
    top: 34px;
    left: -200px;
    color: black;
    background-color: white;
    border: 1px solid lightgrey;
    width: 400px;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px black;
}

.selected > ul > li {
    width: 400px;
}

.selected > ul > li:hover {
    cursor: pointer;
    display: flex;
}


/////////////////////////////////////////////////
// profile
/////////////////////////////////////////////////


.profile-container {
    display: flex;
    flex-direction: column;
    margin-right: 325px;
    margin-left: 195px;
    min-width: 800px;

}

///////////////////////// header

.profile-container .profile-header-container {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 3px;
}


///////// cover photo


.profile-container .cover-photo {
    height: 300px;
    background-color: lightblue;
}

.profile-container .cover-photo:hover {
    cursor: pointer;
}

.profile-header-container .update-cover-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: 65px;
    left: 220px;
    color: white;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    letter-spacing: 0.1px;
}

.update-cover-container .camera-icon {
    width: 25px;
    height: 19px;
    background-image: image_url("camera_icon.png");
    background-size: 100%;
    border-radius: 2px;
    box-shadow: -1px 1px 2px 0px black;
    margin-right: 10px;
}

.update-cover-container .text {
    display: none
}

.cover-photo:hover + .update-cover-container, .update-cover-container:hover {
    background-color: black;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px black;
    cursor: pointer;
}

.cover-photo:hover + .update-cover-container .text, .update-cover-container:hover .text {
    display: inline;
}

.cover-photo:hover + .update-cover-container .camera-icon, .update-cover-container:hover .camera-icon {
    background-image: image_url("camera_hover.png");
    height: 14px;
    width: 19px;
}


////////// profile photo

.profile-container .profile-photo-container {
    position: absolute;
    background-color: brown;
    height: 160px;
    width: 160px;
    border-radius: 100%;
    border: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 211px;
    left: 220px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 1px grey;
}


///////// middle

.profile-container .middle {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -95px;
    align-items: baseline;
    margin-left: 200px;
    margin-right: 20px;
    box-sizing: border-box;
}

.profile-container .middle .name {
    color: white;
    text-shadow: 0px -1px 2px black;
    font-size: 25px;
    letter-spacing: 0.1px;
}

.profile-container .middle .middle-right {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.middle-right .activity-log-container {
    display: flex;
    margin-left: 20px;
}

.profile-container .middle-right .button-border {
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 2px;
}

.profile-container .middle-right .button {
    padding: 10px;
}






////////// nav 

.profile-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 220px;
    font-size: 14px;
}

.profile-nav-container li {
    border-right: 1px solid lightgrey;
    padding: 15px;
}

.profile-nav-container :first-child {
    border-left: 1px solid lightgrey;
}




